.results-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 40px;
}

.results-title {
<<<<<<< HEAD
  font-size: 19px;
=======
  font-size: 18px;
>>>>>>> ab408c7943ddeeeca917a9545a9efc59f404f1e2
}
